@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cormorant+Garamond&family=Dancing+Script&display=swap');

.locations {
    padding: 10px;
}

.location {
    background-color: beige;
    padding: 15px;
    border: 1px dotted black;
    margin: 15px;
}

.location--post {
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Alata', sans-serif;
}

.form-control {
    background-color: lightgray;
    font-weight: bolder;
}

.locationForm--title {
    font-weight: bolder;
    background-color: lightskyblue;
    width: 500px center;
    margin: 2rem 
}

.form-group {
    margin: 1rem;
    width: 500px center;
    font-weight: bolder;
}

.location--label {
    font-weight: bolder;
    font-size: 100%;
    color: black;
    background-color: lightskyblue;
}