.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: firebrick;
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    font-size: medium;
    background-color: lightslategray;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
    color: blue
}